.list_item:hover {
    background-color: #ee16a6;
    color: rgb(255, 239, 22);
}

.itemChange {
    background-color: #7700ff;
    color: rgb(255, 0, 0);
}

.button {
    border: none;
    background-color: rgb(8, 168, 34);
    color: rgb(22, 50, 173);
    font-size: 16px;
}

input:invalid:required {
    border: 4px solid rgb(216, 13, 13);
}

.button1:valid {
    border: none;
    background-color: rgb(255, 15, 27);
    color: rgb(22, 50, 173);
    font-size: 16px;
}